.ib {
  display: inline-block;
}

.red {
  color: #e12800;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}
body .form-control {
  background-color: #131414;
  color: #494c4c;
  border: none;
  border-bottom: 1px solid #494c4c;
  border-radius: 0;
}

body .input-group-addon {
  background-color: #131414;
  color: #494c4c;
  border: none;
}

@font-face {
  font-family: 'StateFaceRegular';
  src: url('../fonts/stateface/webfont/stateface-regular-webfont.eot?1435162136');
  src: url('../fonts/stateface/webfont/stateface-regular-webfont.eot?&1435162136#iefix') format("embedded-opentype"), url('../fonts/stateface/webfont/stateface-regular-webfont.woff?1435162136') format("woff"), url('../fonts/stateface/webfont/stateface-regular-webfont.ttf?1435162136') format("truetype"), url('../fonts/stateface/webfont/stateface-regular-webfont.svg?1435162136#StateFaceRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}
.killing {
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.killing:hover {
  transform: scale(4);
  transform-origin: 50% 50%;
  opacity: 1;
  color: #933;
}

#site-header {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #131414;
  box-shadow: 0 1px 7px #000;
}

.site-title {
  color: #e12800;
  line-height: 60px;
  margin: 0;
}

#search-bar {
  max-width: 300px;
  padding-top: 13px;
}

.show-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  border-bottom: 1px solid #e12800;
  color: #fff;
  font-size: 2rem;
  line-height: 2.1rem;
  cursor: pointer;
}

.active-filter-indicator {
  position: absolute;
  top: 60px;
  right: 20px;
  color: #fff;
}
.active-filter-indicator .remove {
  padding: 5px;
  color: #e12800;
}

.active-filter {
  cursor: pointer;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  padding: 20px;
  padding-top: 40px;
  overflow-y: scroll;
  background-color: #131414;
  box-shadow: 0 1px 7px #000;
  color: #494c4c;
  -moz-transition: all 0.18s ease;
  -o-transition: all 0.18s ease;
  -webkit-transition: all 0.18s ease;
  transition: all 0.18s ease;
}

.control-title {
  color: #fff;
}

.control-panel.docked {
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
}

.control-panel .btn-default {
  background: transparent;
  color: #afb2b2;
}
.control-panel .btn-default.active, .control-panel .btn-default:active {
  background: transparent;
  color: #e12800;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: "Open Sans Condensed", helvetica, arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #2a2b2b;
}

li {
  list-style: none;
}

#content {
  width: 100%;
  box-sizing: border-box;
  background-color: #2a2b2b;
}

#map-container {
  position: relative;
}

#map {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
