$body-font: 'Open Sans Condensed', helvetica, arial, sans-serif;
$red: rgb(225, 40, 0);
$darkGrey: rgb(19, 20, 20);
$mediumGrey: rgb(42, 43, 43);
$lightGrey: rgb(73, 76, 76);
$box-shadow: 0 1px 7px #000;
