@import 'variables';
@import 'utility';
@import 'inputs';
@import 'fonts';
@import "compass/css3/transition";
@import "compass/css3/transform";
@import 'leaflet';
@import 'header';
@import 'control-panel';

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: $body-font;
  height: 100%;
  width: 100%;
  background-color: $mediumGrey;
}

li {
  list-style: none;
}

#content {
  width: 100%;
  box-sizing: border-box;
  background-color: $mediumGrey;
}

#map-container {
  position: relative;
}

#map {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
