.control-panel
  .control-section
    h6 Type of Statistic
    ul.controls
      li.control(data-option="rate") Rate of Police Killings by Population
      li.control(data-option="disparity") Racial Disparity
      li.control(data-option="count") Total 
  .control-section
    h6 Filters
    ul.controls
      li.control(data-option="race") Race
      li.control(data-option="unarmed") Unarmed
      li.control(data-option="gender") Gender
  .control-section
    h6 Level of Analysis
    ul.controls
      li.control(data-option="city") City
      li.control(data-option="state") State
      li.control(data-option="national") National
  .control-section
    h6 Search
    input.search(type="text" name="search")

